body.Index{
    background-color:lightgray;
    animation-name:ex;
    animation-duration:10s;
}

@keyframes ex{
    from{background-color:lightgray;}
    to{background-color:brown;}
}

h2.Index{
    text-align:center;
    font-size:5vw;
}

table.Index{
    border-style:groove;
    font-size:3vw;
}

tr.Index{
    background-color:darkgray;
    border-style:none;
}

td{
    border-style:ridge;
}

img.Index{
    margin-left:32vw;
}

p.Index{
    text-align:center;
    font-size:5vw;
}